.video {
    position: relative;
    overflow: hidden;
}

.video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
}

.video-progress {
    position: absolute;
    width: 100%;
    height: 5px;
    background: #222223;
}

.video-progress-now {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #ff6700;
    z-index: 1;
}

.video-progress-suc {
    position: absolute;
    left: 0;
    width: 70%;
    height: 100%;
    background: #666666;
}

.video-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -7px;
    margin-top: -5px;
    height: 14px;
    width: 14px;
    background: white;
    border-radius: 50%;
    z-index: 2;
}

.video-play {
    margin-top: 10px;
    margin-left: 35px;
    float: left;
    height: 35px;
    line-height: 35px;
}

.video-play i {
    font-size: 20px;
    color: white;
}

.video-time {
    margin-top: 10px;
    margin-left: 30px;
    float: left;
    height: 35px;
    line-height: 35px;
    color: white;
}

.video-full {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    height: 35px;
    line-height: 35px;
}

.video-full i {
    font-size: 20px;
    color: white;
}

.video-volume {
    margin-top: 10px;
    margin-right: 30px;
    height: 35px;
    float: right;
    display: flex;
    align-items: center;
}

.video-volume i {
    margin-right: 20px;
    font-size: 20px;
    color: white;
}

.video-volprogress {
    position: relative;
    width: 100px;
    height: 5px;
    background: #222223;
}

.video-volprogress-now {
    width: 50%;
    height: 100%;
    background: #ff6700;
    z-index: 1;
}

.video-volprogress-bar {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -7px;
    margin-top: -5px;
    height: 14px;
    width: 14px;
    background: white;
    border-radius: 50%;
    z-index: 1;
}
