@font-face {
    font-family: "iconfont";
    src: url('assets/iconfont/iconfont.eot?t=1598778164237'); /* IE9 */
    src: url('assets/iconfont/iconfont.eot?t=1598778164237#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAT4AAsAAAAACiQAAASpAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDSAqGfIVJATYCJAMYCw4ABCAFhG0HcxuaCCMRZoQvRfbPA9ttygFECkT2hiKrH+QHd9Klkm9Wu9oMDe77UEp4oO/89ww2d3c24oPw5dJBndxCnLTe3Dqoxa38pW2AgLO4m7r09P8lXjV1C46/lnZcG5IdxXiKXMrKUvz/OZZ8ZQ2W/ypdMmNBe6PxeEADiw4a4KxATtAHHsMpl48yjF1e5OUQgGGcOcTazxtXcdHo2wlA7EO7D+MmnOgKksC1xAoO1YizcXDl6fJl4Czv78WPLMoFiaPQr7T5buvswuowEQbKRpbtlcUO5wfYUaCAOUCDOKYweBgqKM6hMPLamg2BOC4SPdRvpMMp4fIwiCJIaPWoIG4Ywf/wJBoHRAxkjEPMxiUHwoTFg4IwzYOAcAoPEsLlPGgIAycOtMYG3CQBIgtiU6Vj57i7wEEjEVOKxuTT48aNGZNIZNMcvPugXSz2g/wuu9ls+a4t7LoLW6HXKe2+q75U9rUPD/ItE7w+Rl7yhu8PX3PfTbcJ59JH9wj6RTUY+L4ctl1TV41Oj1r/6rwtPPGOfXt1l16lp95rv1u98OqyLdxhF3S5oNF3tQ/evWp7vt8ZiIZo9/Om3u0Cfq3atTd0Wq1Gu29M0KWKVSjVmmwp+n1T33nQvjE4sC731Hbr331xoVaVPt9tjUKjNxBHNTqDkhYvVk2/VD38VOrDvfsuKx5+9cNlfcEjzz022rnw0Z1i/vajR6+5/urz0faCaza7++Ci9oVrHtJsvjL1lczHUz9utip39Zn4kmazQK6q4a4skXdO6dje5Iysy8zkXk43eev3ZK6uoq9Weg+5dfchr2dX7UXM+2G+dbu4Lx6+cXfT9amhpdVZx44gXl06lLr+pgvnBp+7+44H/J2WCw9aKLX4OzVO4MphgnO8h72094Lhvbj3sPXfxb5kUt5HZoQoOq2cKS/7TkScXQOTqb/p7Mvfw3u5hUyUM+D/0+uO2IT3vRfSL3vY4xzBwzMOfCmKRjAfVVLeS/YL7MPe0hP3Zf738Kmdr+sjM6c4W0QPufYhbn/3twsTM1MPXP7gq8kHjvN54jTjb2DB73gn+dy4275PjUt9f9u453z2d7+H7zkGgOgZdbuaCtF/6iYlhKtdpr5QLQXIf+T7AGqqfP73mw5vHjOVmqnlf7u+BuCjA0eWeMnoMk23sIu81SZ+NlXDBVrR6K6Ylua3xhBAjENe0DckYDDALxbN+nQoc6FxOwhcChFIhhgLCpcpCI2ZAw4+SyCGyyowzLbe0T45B6EQ2gNmORmAIO02kCR5DBRpryA05hNwKPoZYqRTYHj0s6tTHrmPDh8Ye8EJhj+gMQY9jxz6na9osus5rvHIn8grZaAp63TlBQPyEHus36YV0aA5engGV0PnIiSOC45SziJpX1W66IPKMXp16AFDPYEmYPAHkFEUaGd5cZj5/VfIyJweV8wrS39CbEWrB41S3QDxYgyN5l3K2qtvRksIjbfSWOSBZ+hHzihGIBVvtEAjUZo75JO9Ci2mmxrL6c3+Lq9AqUP6PTdJoYQWjoiJITbLfRjoZMrRIwmdxVmKU9+nQmfn1pERw+l/f26OYKxz/c90OkTdB/M1537oQ6MUAAAA') format('woff2'),
    url('assets/iconfont/iconfont.woff?t=1598778164237') format('woff'),
    url('assets/iconfont/iconfont.ttf?t=1598778164237') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('assets/iconfont/iconfont.svg?t=1598778164237#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconguanbi:before {
    content: "\e610";
}

.iconduomeitiicon-:before {
    content: "\e624";
}

.iconmap-fullscreen:before {
    content: "\e60d";
}

.iconzantingtingzhi:before {
    content: "\e63c";
}

.iconbofang_huaban1:before {
    content: "\e68a";
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

body {
    height: 2000px;
    background: #f5f5f5;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#list {
    margin: 20px auto;
    width: 1226px;
}

#list .list-wrap {
    width: 1240px;
}

#list .list-wrap li {
    margin-right: 14px;
    float: left;
    width: 296px;
    height: auto;
    background: white;
    cursor: pointer;
}

#list .list-wrap li:hover i {
    background: #ff6700;
}

#list .list-wrap div {
    position: relative;
}

#list .list-wrap img {
    width: 100%;
    height: 100%;
}

#list .list-wrap i {
    position: absolute;
    left: 19px;
    bottom: 10px;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    width: 32px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

#list .list-wrap h3 {
    font-size: 12px;
    text-align: center;
    padding: 30px 0;
}
